
$font_path: "~/assets/fonts/";

@font-face {
   font-family: "MyFont";
   src: url($font_path + "Montserrat-Italic.woff2");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}
@font-face {
  font-family: "MyFont";
  src: url($font_path + "Montserrat-Medium.woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MyFont";
  src: url($font_path + "Montserrat-SemiBold.woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}