
$font_path: "~/assets/fonts/";

@font-face {
   font-family: "MyFont";
   src: url($font_path + "Montserrat-Italic.ttf");
   font-weight: 400;
   font-style: normal;
}
@font-face {
  font-family: "MyFont";
  src: url($font_path + "Montserrat-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "MyFont";
  src: url($font_path + "NunitoSans-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}